# REQUIRED – Get free at https://console.groq.com/keys
GROQ_API_KEY= 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

# OPTIONAL – Get free at https://newsapi.org/register (100 req/day)
NEWSAPI_KEY=5857a3909e8f4d0790431488365510b0